* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    background-color: #00363a;
}

.title {
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

form {
    width: 80%;
    padding: 30px;
    margin: auto;
    color: #fff;
    background-color: #1b1b1b;
    display: flex;
    flex-direction: column;
}

input {
    background-color: #000;
    color: #fff;
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: none;
    outline: none;
    border-radius: 10px;
}

.submit-btn {
    width: 50%;
    background-color: #00363a;
    padding: 10px;
    margin: 8px auto;
    justify-self: center;
    align-self: center;
    border-radius: 10px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #005f5f;
}